body	{
			font-style: sans-serif;
			height: auto;
			width: auto;
}

table	{
			/*margin-left: 80px;
			padding-left: 20px;
			padding-right: 20px;*/
			width: 900px;
			justify-content: center;



}

td		{
			margin: 0px 10px 5px;
			padding: 8px;
			border: 1px solid #ddd;
			text-align: center;
}

tr:hover	{
			background-color: #f2f2f2;
}

tr:nth-child(even)	{
						background-color: #f2f2f2;
}

.team	{
			display: flex;
			justify-content: center;
}

button		{
				width: 60px;
				height: 35px;
				float: right;
				background-color: blue;
				margin-top: 28px;
				margin-right: 30px;
}

a 		{
			text-decoration: none;
			color: #ddd;
}